$maxWidth: 1440;
$maxWidthContainer: 1440;

@mixin adaptive-value($property, $startSize, $minSize, $type){
    $addSize: $startSize - $minSize;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}