// Fonts
$FontFamily: "Libre Franklin";
$SecondFontFamily: "Open Sans";

// Container
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer;
$md2: 992;
$md3: 768;
$md4: 320;

//Colors
$primary: hsl(223, 87%, 63%);
$secondaryBlue: hsl(223, 100%, 88%);
$secondaryRed: hsl(354, 100%, 66%);
$VeryDarkBlue: hsl(209, 33%, 12%);
$gray: hsl(0, 0%, 59%);
$black: #000;
$white: #fff;
