// Fonts
$fontFamily:"Oswald";
$SecondFontFamily: "Open Sans";

// Container
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer;
$md2: 992;
$md3: 768;
$md4: 320;

//Colors
$primary: #fff;
$secondary: #fff;
$accent: #fff;
$black: #000;
$white: #fff;
