@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin');
@import url('/src/scss/normalize.css');

@import 'mixins/adaptive-value';
@import 'support/variables';

// ---------------main-components-styles-----------------------//
html{
    font-size: 20px;
color: $VeryDarkBlue;
@media (max-width:590px){
    font-size: 16px;
}
}
body{
box-sizing: border-box;

a {
    text-decoration: none;
    color: #fff;
}
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    font-family: $FontFamily;
    font-family: "Libre Franklin";
    font-weight: normal;
    text-align: center;
    color:$gray;
    
}
.title b{
    color:$VeryDarkBlue;
}

.text {
    font-family: $FontFamily;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    margin:0;
}
.btn {
    font-family: $FontFamily;
    line-height: 22 / 16 * 100%;
    text-align: center;
    cursor: pointer;
}

// ---------------container styles-----------------------//
@import 'elements/container';

// ---------------header styles-----------------------//
@import 'elements/header';

// ---------------menu styles-----------------------//
@import 'elements/menu';

// ---------------main page styles-----------------------//
@import 'elements/heading';

// ---------------main styles-----------------------//
@import 'elements/main';

// ---------------sections styles-----------------------//

@import 'elements/sections';

// ---------------footer styles-----------------------//
@import 'elements/footer';